/* line 2, _reset.scss */
html {
  font-size: 6.25%; }

/* line 5, _reset.scss */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre,
form, fieldset, input, textarea, p, blockquote, th, td, button {
  padding: 0;
  margin: 0;
  border: none;
  font-size: 16rem; }

/* line 12, _reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 16, _reset.scss */
fieldset, img {
  border: 0; }

/* line 19, _reset.scss */
address, caption, cite, code, dfn, em, strong, th, var {
  font-weight: normal;
  font-style: normal; }

/* line 23, _reset.scss */
ol, ul, li {
  list-style: none; }

/* line 26, _reset.scss */
caption, th {
  text-align: center; }

/* line 30, _reset.scss */
h1 {
  font-size: 24rem;
  font-weight: bold; }

/* line 30, _reset.scss */
h2 {
  font-size: 22rem;
  font-weight: bold; }

/* line 30, _reset.scss */
h3 {
  font-size: 20rem;
  font-weight: bold; }

/* line 32, _reset.scss */
h4, h5, h6 {
  font-weight: bold;
  font-size: 16rem; }

/* line 36, _reset.scss */
:before, :after {
  content: ''; }

/* line 39, _reset.scss */
a, a:hover, a:visited {
  text-decoration: none;
  color: black; }

/* line 43, _reset.scss */
abbr, acronym {
  border: 0; }

@media screen and (min-width: 768px) and (max-width: 1080px) {
  /* line 48, _reset.scss */
  html {
    font-size: 0.7px; } }
@media screen and (min-width: 420px) and (max-width: 768px) {
  /* line 53, _reset.scss */
  html {
    font-size: 0.5px; } }
@media screen and (max-width: 420px) and (min-width: 300px) {
  /* line 58, _reset.scss */
  html {
    font-size: 0.4px; } }
@media screen and (max-width: 300px) {
  /* line 63, _reset.scss */
  html {
    font-size: 0.2px; } }
/* line 4, admin.scss */
html {
  font-size: 6.25%;
  color: #fff; }

/* line 9, admin.scss */
body {
  height: 100vh;
  width: 100%;
  background: #352121; }

/* line 15, admin.scss */
header {
  color: #fff;
  height: 5vh;
  background: #24518F; }
  /* line 20, admin.scss */
  header div.navbar {
    width: 20%;
    height: 100%;
    background: #5E1383;
    display: inline-block; }
  /* line 28, admin.scss */
  header div.nav-item {
    width: 80%;
    height: 100%;
    float: right; }
    /* line 32, admin.scss */
    header div.nav-item li {
      display: block;
      width: 120rem;
      margin-right: 30rem;
      float: left;
      background: #A55454; }
  /* line 40, admin.scss */
  .nav-item a {
    margin: 0 auto;
    line-height: 5vh;
    width: 100%;
    padding-left: 20rem;
    font-size: 18rem;
    color: #FFF;
    height: 100%;
    text-align: center; }

/* line 51, admin.scss */
div#left, div#right {
  height: 95vh;
  margin: 0;
  padding: 0;
  border: none;
  font-size: 20rem; }

/* line 59, admin.scss */
div#left {
  background: #0A7531;
  float: left;
  width: 20%; }

/* line 65, admin.scss */
div#right {
  background: #8E540F;
  float: right;
  width: 80%; }
  /* line 69, admin.scss */
  div#right h2 {
    line-height: 100%;
    display: block;
    text-align: center;
    padding: 10rem 0; }

/*# sourceMappingURL=admin.css.map */